table{margin: auto;}
.container{text-align: center;}


button{    width: 72px;
    background-color: lightgreen;
    height: 35px;
}
input{font-size: 24px;
        border: 5px solid #92ab92;}
        .calculator {
         
                display: inline-block;
                background-color: bisque;
                padding: 25px;
            }
        